body{
    font-family: 'Roboto';
}



#mario-chat{
    max-width: 50%;
    border: 1px solid #ddd;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
    border-radius: 2px;
    left: 1%;
    right: 50%;
    bottom: 10%;
    top: 10%;
    border-radius: 27px;
    position: absolute;
    border: none;
    
}

#chat-window{
    height: 90%;
    overflow: auto;
    background: #676767;
    border-radius: 27px;
    border: none;

}

#output p{
    padding: 14px 0px;
    margin: 0 20px;
    /*border-bottom: 1px solid #e9e9e9;*/
    color: #555;

}
#output strong{
    color: #575ed8;
}


#handle{
    position: absolute;
    bottom: 5%;
    left: 0%;
    width: 20%;
    display: block;
    box-sizing: border-box;
    border: 2px solid #aaa;
    border-radius: 27px;
    outline: none;
    padding: 8px;
}

#message{
    position: absolute;
    bottom: 5%;
    left: 20%;
    width: 80%;
    display: block;
    box-sizing: border-box;
    border: 2px solid #aaa;
    border-radius: 27px;
    outline: none;
    padding: 8px;
}


#session_window{
    position: absolute;
    top: 10%;
    width: 35%;
    left: 60%;
    height: 10%;
    border: 2px solid #aaa;
    padding: 8px;
    border-radius: 27px;
}

#session_message{
    position: absolute;
    top: 50%;
    width: 45%;
    transform: translateY(-50%);
    word-wrap: break-word;

}

#session{
    position: absolute;
    top: 50%;
    left: 45%;
    width: 50%;
    transform: translateY(-50%);
    display: block;
    box-sizing: border-box;
    border: 2px solid #aaa;
    border-radius: 27px;
    outline: none;
    padding: 8px;
    align-self: center;
}




button{
    background: #575ed8;
    color: #fff;
    font-size: 18px;
    border: 0;
    padding: 12px 0;
    width: 100%;
    height: 5%;
    position: absolute;
    bottom: 0px;
    border-radius: 27px;
    outline: none;
}

::-webkit-scrollbar{
    width: 3px;
    padding-top: 27px ;
    padding-bottom: 27px ;
}

::-webkit-scrollbar-thumb{
    border-radius: 2px;
    background-color: aquamarine;
    padding-top: 27px ;
    padding-bottom: 27px ;
}